<% title("ICU Hampy Classic") %>
<center>
<h1>ICU Hampy <!-- <small>views/pages/home.html.erb</small> --></h1>
<p>This is your home page. Use the menu at the top to sign in / sign up / sign out.</p>

</center>